flows.json
[
    {
        "id": "4c3b05bf.206fbc",
        "type": "tab",
        "label": "Docker List Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3588b61.859a18",
        "type": "tab",
        "label": "Docker Inspect Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41f777e2.d72c88",
        "type": "tab",
        "label": "Docker Create Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb60acc4.65ffd",
        "type": "tab",
        "label": "Docker Update Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48a04689.e192c8",
        "type": "tab",
        "label": "Docker Delete Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3235da7.9d754",
        "type": "tab",
        "label": "Docker Inspect WS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcf00345.14dd2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "579edabe.09fe34",
        "type": "docker-configuration",
        "z": "",
        "host": "/var/run/docker.sock",
        "port": ""
    },
    {
        "id": "8d7688bb.31a5d8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "5bd79fa5.d89eb",
        "type": "websocket-listener",
        "z": "",
        "path": "ws/container",
        "wholemsg": "false"
    },
    {
        "id": "9eb44dc.d18d9b",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "/volumes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "a93f6b05.ea5278"
            ]
        ]
    },
    {
        "id": "ce8dc619.48c248",
        "type": "docker-events",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "72c50769.2df588"
            ]
        ]
    },
    {
        "id": "72c50769.2df588",
        "type": "websocket out",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "server": "8d7688bb.31a5d8",
        "client": "",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "24815ebc.3be8f2",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "/containers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "6419368.453f9c8"
            ]
        ]
    },
    {
        "id": "98806ac6.5643b8",
        "type": "http response",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "2aeb3893.ecf8a8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "networks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "6f154186.5cbc5"
            ]
        ]
    },
    {
        "id": "5fcf3e18.be76c",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "secrets",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "d44d3fe7.7c741"
            ]
        ]
    },
    {
        "id": "f4e8e96e.ef8db8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "plugins",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "6413441e.80437c"
            ]
        ]
    },
    {
        "id": "7dec14a7.2fbe3c",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "nodes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "17e90226.ee6b2e"
            ]
        ]
    },
    {
        "id": "439fa36e.2be7cc",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "tasks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "4465d665.790388"
            ]
        ]
    },
    {
        "id": "da0e33c5.dfdcb",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "services",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "2de7ca5d.8bd5b6"
            ]
        ]
    },
    {
        "id": "9f178ba5.87cab8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "images",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "74415aa1.1b4184"
            ]
        ]
    },
    {
        "id": "e0781fe.b97dae",
        "type": "docker-container-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "inspect",
        "x": 850,
        "y": 80,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "7fb8e8e4.d42c98",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/containers/:containerId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "51ae3860.2ed588"
            ]
        ]
    },
    {
        "id": "194c5206.89e86e",
        "type": "http response",
        "z": "a3588b61.859a18",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 80,
        "wires": []
    },
    {
        "id": "b0a300a.4654",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/images/:imageId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "b30a7cb0.085ab"
            ]
        ]
    },
    {
        "id": "f35cb91f.b8d6a8",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/services/:servicesId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "3d42a7ec.99fd38"
            ]
        ]
    },
    {
        "id": "be8c2d94.ca50c",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/tasks/:taskId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "54b33ee6.590af"
            ]
        ]
    },
    {
        "id": "e65123cd.a5e79",
        "type": "http response",
        "z": "a3588b61.859a18",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "cb366846.141d38",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/node",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "c75a07ba.e832b8"
            ]
        ]
    },
    {
        "id": "d5b43380.4bfbb",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/secrets/:secretId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "4323fbe2.bb79d4"
            ]
        ]
    },
    {
        "id": "ae518bf4.5e4a68",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/networks/:networkId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "f112e6c4.021818"
            ]
        ]
    },
    {
        "id": "3874a669.ee2a6a",
        "type": "docker-image-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "sha256:8c98e6ed72f87598d4566621f6f0293dbbf834822a41b75e110247936be31876",
        "action": "inspect",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "This is using the hash\nhttp://localhost:1880/red-nodes/image/?image=sha256:8c98e6ed72f87598d4566621f6f0293dbbf834822a41b75e110247936be31876"
    },
    {
        "id": "b124a312.c1cd6",
        "type": "docker-service-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "docker-Traefik_whoami",
        "action": "inspect",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/service/?service=docker-Nodered_nodered"
    },
    {
        "id": "1ce91cc1.b48253",
        "type": "docker-task-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "inspect",
        "x": 830,
        "y": 500,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/task/?task=s4muohfijyop4nkbcgzesvwza"
    },
    {
        "id": "24af840d.af4efc",
        "type": "docker-node-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "docker-desktop",
        "action": "",
        "x": 690,
        "y": 840,
        "wires": [
            [
                "e65123cd.a5e79"
            ]
        ],
        "info": "Missing inspect"
    },
    {
        "id": "1237136d.0c6ecd",
        "type": "docker-secret-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "inspect",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/secret/?secret=my_secret_data"
    },
    {
        "id": "aad1e95f.7c4378",
        "type": "docker-network-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "inspect",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/network/?network=func_functions"
    },
    {
        "id": "96531193.59ce3",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/volumes/:volumeId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "b83c04a6.2fc688"
            ]
        ]
    },
    {
        "id": "74982647.b35e78",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/plugin",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "f8b5889d.c7a208"
            ]
        ]
    },
    {
        "id": "fd9e6589.b2a9c8",
        "type": "docker-volume-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "nodered_nodered_data1",
        "action": "inspect",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "7fddaf24.79191",
        "type": "docker-plugin-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "docker.io/vieux/sshfs:latest",
        "action": "inspect",
        "x": 690,
        "y": 920,
        "wires": [
            [
                "e65123cd.a5e79"
            ]
        ]
    },
    {
        "id": "6d14ccf1.6b3814",
        "type": "comment",
        "z": "a3588b61.859a18",
        "name": "No inspect",
        "info": "No inspect",
        "x": 80,
        "y": 800,
        "wires": []
    },
    {
        "id": "6b65685c.398178",
        "type": "comment",
        "z": "a3588b61.859a18",
        "name": "Can't find 404",
        "info": "Can't find 404 inspect",
        "x": 90,
        "y": 880,
        "wires": []
    },
    {
        "id": "a1739c6b.afdff",
        "type": "inject",
        "z": "a3235da7.9d754",
        "d": true,
        "name": "",
        "topic": "",
        "payload": "{\"action\":\"inspect\",\"containerId\":\"nodered_nodered_1\"}",
        "payloadType": "json",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "b0b1e01e.61a7f"
            ]
        ]
    },
    {
        "id": "267cd34f.c55e1c",
        "type": "websocket out",
        "z": "a3235da7.9d754",
        "name": "",
        "server": "5bd79fa5.d89eb",
        "client": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0b1e01e.61a7f",
        "type": "docker-container-actions",
        "z": "a3235da7.9d754",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "267cd34f.c55e1c",
                "35b86698.35604a"
            ]
        ]
    },
    {
        "id": "ed122ed.5256cd",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "configs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "e3217db6.42983"
            ]
        ]
    },
    {
        "id": "9e2460f7.f3f74",
        "type": "uibuilder",
        "z": "bcf00345.14dd2",
        "name": "",
        "topic": "",
        "url": "uibuilder",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "x": 420,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "84a497c7.562dd8",
        "type": "docker-swarm-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "init",
        "x": 1340,
        "y": 240,
        "wires": [
            [
                "617580b.e2e858"
            ]
        ]
    },
    {
        "id": "c995ddcf.2bb67",
        "type": "inject",
        "z": "41f777e2.d72c88",
        "name": "",
        "topic": "",
        "payload": "{\"swarm\":{\"ListenAddr\":\"0.0.0.0:2377\",\"AdvertiseAddr\":\"192.168.1.1:2377\",\"ForceNewCluster\":false,\"Spec\":{\"Orchestration\":{},\"Raft\":{},\"Dispatcher\":{},\"CAConfig\":{}}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "1c6800a1.b396cf"
            ]
        ]
    },
    {
        "id": "617580b.e2e858",
        "type": "debug",
        "z": "41f777e2.d72c88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1530,
        "y": 240,
        "wires": []
    },
    {
        "id": "a15d24ac.038e38",
        "type": "debug",
        "z": "41f777e2.d72c88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1370,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c6800a1.b396cf",
        "type": "change",
        "z": "41f777e2.d72c88",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.swarm",
                "pt": "msg",
                "to": "swarm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "84a497c7.562dd8",
                "a15d24ac.038e38"
            ]
        ]
    },
    {
        "id": "e85a1090.e9397",
        "type": "docker-config-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 840,
        "y": 140,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "4155614a.d1332",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/configs/:configId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "e5b18c96.f9325"
            ]
        ]
    },
    {
        "id": "35b86698.35604a",
        "type": "debug",
        "z": "a3235da7.9d754",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "51ae3860.2ed588",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "containerId",
                "pt": "msg",
                "to": "req.params.containerId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "e0781fe.b97dae"
            ]
        ]
    },
    {
        "id": "82c20ce3.75d56",
        "type": "debug",
        "z": "a3588b61.859a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5b18c96.f9325",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "e85a1090.e9397"
            ]
        ]
    },
    {
        "id": "3d42a7ec.99fd38",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serviceId",
                "pt": "msg",
                "to": "req.params.serviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "b124a312.c1cd6"
            ]
        ]
    },
    {
        "id": "4323fbe2.bb79d4",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "secretId",
                "pt": "msg",
                "to": "req.params.secretId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "1237136d.0c6ecd"
            ]
        ]
    },
    {
        "id": "f112e6c4.021818",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "networkId",
                "pt": "msg",
                "to": "req.params.networkId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "aad1e95f.7c4378"
            ]
        ]
    },
    {
        "id": "b83c04a6.2fc688",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volumeId",
                "pt": "msg",
                "to": "req.params.volumeId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "fd9e6589.b2a9c8"
            ]
        ]
    },
    {
        "id": "b30a7cb0.085ab",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "imageId",
                "pt": "msg",
                "to": "req.params.imageId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "3874a669.ee2a6a"
            ]
        ]
    },
    {
        "id": "54b33ee6.590af",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "taskId",
                "pt": "msg",
                "to": "req.params.taskId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "1ce91cc1.b48253"
            ]
        ]
    },
    {
        "id": "c75a07ba.e832b8",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "24af840d.af4efc"
            ]
        ]
    },
    {
        "id": "f8b5889d.c7a208",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 920,
        "wires": [
            [
                "7fddaf24.79191"
            ]
        ]
    },
    {
        "id": "6419368.453f9c8",
        "type": "docker-container-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "list",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "e3217db6.42983",
        "type": "docker-config-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "74415aa1.1b4184",
        "type": "docker-image-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "",
        "action": "",
        "x": 510,
        "y": 600,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "2de7ca5d.8bd5b6",
        "type": "docker-service-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "4465d665.790388",
        "type": "docker-task-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "17e90226.ee6b2e",
        "type": "docker-node-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "",
        "action": "",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "d44d3fe7.7c741",
        "type": "docker-secret-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "6413441e.80437c",
        "type": "docker-plugin-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "",
        "action": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "6f154186.5cbc5",
        "type": "docker-network-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "a93f6b05.ea5278",
        "type": "docker-volume-actions",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "",
        "action": "",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "ac785edc.00f4f",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/volumes/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "eae2d21f.0c63b"
            ]
        ]
    },
    {
        "id": "755cb91d.b4b378",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/containers/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "34827535.ddbffa"
            ]
        ]
    },
    {
        "id": "2fd95911.71d196",
        "type": "http response",
        "z": "41f777e2.d72c88",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "4af2ea21.a35bd4",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/networks/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "fce9e726.e91d38"
            ]
        ]
    },
    {
        "id": "f54a0320.cdbb2",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/secrets/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "76ea37f4.410658"
            ]
        ]
    },
    {
        "id": "20736b40.774844",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/plugins/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "1970e48d.9aa39b"
            ]
        ]
    },
    {
        "id": "fea11257.3180a",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/nodes/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "29c0f6b3.a54c3a"
            ]
        ]
    },
    {
        "id": "a51e76f7.f3a318",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/tasks/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "a6f17e9f.2badc"
            ]
        ]
    },
    {
        "id": "5c2b620f.cc2b4c",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/services/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "d65636cd.4082f8"
            ]
        ]
    },
    {
        "id": "8af192e7.ff039",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/images/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 740,
        "wires": [
            [
                "3fce7309.7e875c"
            ]
        ]
    },
    {
        "id": "24fa91e5.1b19ee",
        "type": "http in",
        "z": "41f777e2.d72c88",
        "name": "",
        "url": "/configs/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8f13713f.48284"
            ]
        ]
    },
    {
        "id": "34827535.ddbffa",
        "type": "docker-container-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "list",
        "x": 610,
        "y": 60,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "8f13713f.48284",
        "type": "docker-config-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "3fce7309.7e875c",
        "type": "docker-image-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "",
        "action": "push",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "d65636cd.4082f8",
        "type": "docker-service-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "",
        "x": 600,
        "y": 680,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "a6f17e9f.2badc",
        "type": "docker-task-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "",
        "x": 590,
        "y": 620,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "29c0f6b3.a54c3a",
        "type": "docker-node-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "",
        "action": "",
        "x": 590,
        "y": 560,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "76ea37f4.410658",
        "type": "docker-secret-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "1970e48d.9aa39b",
        "type": "docker-plugin-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "",
        "action": "",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "fce9e726.e91d38",
        "type": "docker-network-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "eae2d21f.0c63b",
        "type": "docker-volume-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "",
        "action": "",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "2fd95911.71d196"
            ]
        ]
    },
    {
        "id": "4b09ec52.b87ac4",
        "type": "debug",
        "z": "eb60acc4.65ffd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1530,
        "y": 240,
        "wires": []
    },
    {
        "id": "dd6d6b3b.c216e8",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/volumes/:volumeId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "e1b8fa4d.44c2d8"
            ]
        ]
    },
    {
        "id": "1a81204a.715fc",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/containers/:containerId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "730e7d9a.66b034"
            ]
        ]
    },
    {
        "id": "fa731e7b.43fad",
        "type": "http response",
        "z": "eb60acc4.65ffd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "d8ff3670.41f0c8",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/networks/:network/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "e07d7223.81e75"
            ]
        ]
    },
    {
        "id": "e6b68f88.8eb75",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/secrets/:secretId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "2756d630.2c3c9a"
            ]
        ]
    },
    {
        "id": "6d5cc0a6.bd6fc",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/plugins/:pluginId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "1ec36eb4.4640d1"
            ]
        ]
    },
    {
        "id": "b814f268.45dc5",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/nodes/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "7fb27187.8d311"
            ]
        ]
    },
    {
        "id": "db69ca1c.67bad8",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/tasks/:taskId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ce6adad1.0d2fb8"
            ]
        ]
    },
    {
        "id": "3f6466b8.f37a2a",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/services/:serviceId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "d69aee88.0bc6a"
            ]
        ]
    },
    {
        "id": "ffec4437.c348e8",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/images/:imageId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "b8c42a01.e397c8"
            ]
        ]
    },
    {
        "id": "943a82a9.d1463",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/configs/:configId/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "e665e95d.809b28"
            ]
        ]
    },
    {
        "id": "90faadf6.c7c29",
        "type": "docker-container-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "update",
        "x": 890,
        "y": 60,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "496fe09c.162b2",
        "type": "docker-config-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 880,
        "y": 120,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "2027a3f4.44dcdc",
        "type": "docker-image-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "",
        "action": "upgrade",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "d6193d7e.cc7c3",
        "type": "docker-service-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "update",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "6a2d6338.bcdfcc",
        "type": "docker-task-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "update",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "7fb27187.8d311",
        "type": "docker-node-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "",
        "action": "",
        "x": 870,
        "y": 680,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "7c29fad3.f19b74",
        "type": "docker-secret-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "update",
        "x": 880,
        "y": 240,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "86ab470a.daefc8",
        "type": "docker-plugin-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "",
        "action": "update",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "7669691a.60e9d8",
        "type": "docker-network-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "update",
        "x": 880,
        "y": 180,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "a04744a1.69de48",
        "type": "docker-volume-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "",
        "action": "",
        "x": 880,
        "y": 560,
        "wires": [
            [
                "fa731e7b.43fad"
            ]
        ]
    },
    {
        "id": "e67e43f2.5b021",
        "type": "debug",
        "z": "48a04689.e192c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4657ae0.0ce9b8",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/volumes/:volumeId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "6375c2da.38a04c"
            ]
        ]
    },
    {
        "id": "5e5cf6b9.314048",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/containers/:containerId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "2efba4bb.93f3dc"
            ]
        ]
    },
    {
        "id": "7850fd85.5a08d4",
        "type": "http response",
        "z": "48a04689.e192c8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1000,
        "y": 40,
        "wires": []
    },
    {
        "id": "406a6ccd.8c7f64",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/networks/:networkId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "ccf6a84.056ed58"
            ]
        ]
    },
    {
        "id": "fe2b098c.24de88",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/secrets/:secretId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "4e32f78c.78ac68"
            ]
        ]
    },
    {
        "id": "e68afcb1.b102d",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/plugins/:pluginId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "374a48a.82242b8"
            ]
        ]
    },
    {
        "id": "f718f1df.7af82",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/nodes/:nodeId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "984bca6.cc84438"
            ]
        ]
    },
    {
        "id": "b7a3b34c.abc9f",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/tasks/:taskId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "82556171.b791"
            ]
        ]
    },
    {
        "id": "42285205.e4396c",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/services/:serviceId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "d93af4c2.986a38"
            ]
        ]
    },
    {
        "id": "839430ec.bbc2b",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/images/:imageId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "e3f37bd1.adeb58"
            ]
        ]
    },
    {
        "id": "f00eda63.75a208",
        "type": "http in",
        "z": "48a04689.e192c8",
        "name": "",
        "url": "/configs/:configId/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "8b08a0ac.70596"
            ]
        ]
    },
    {
        "id": "2efba4bb.93f3dc",
        "type": "docker-container-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "update",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "8b08a0ac.70596",
        "type": "docker-config-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 740,
        "y": 40,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "e3f37bd1.adeb58",
        "type": "docker-image-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "",
        "action": "remove",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "d93af4c2.986a38",
        "type": "docker-service-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "update",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "82556171.b791",
        "type": "docker-task-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "remove",
        "x": 730,
        "y": 160,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "984bca6.cc84438",
        "type": "docker-node-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "",
        "action": "",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "4e32f78c.78ac68",
        "type": "docker-secret-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "remove",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "374a48a.82242b8",
        "type": "docker-plugin-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "",
        "action": "update",
        "x": 730,
        "y": 600,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "ccf6a84.056ed58",
        "type": "docker-network-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "update",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "6375c2da.38a04c",
        "type": "docker-volume-actions",
        "z": "48a04689.e192c8",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "",
        "action": "remove",
        "x": 740,
        "y": 520,
        "wires": [
            [
                "7850fd85.5a08d4"
            ]
        ]
    },
    {
        "id": "730e7d9a.66b034",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "containerId",
                "pt": "msg",
                "to": "req.params.containerId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "90faadf6.c7c29"
            ]
        ]
    },
    {
        "id": "e665e95d.809b28",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "496fe09c.162b2"
            ]
        ]
    },
    {
        "id": "d69aee88.0bc6a",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serviceId",
                "pt": "msg",
                "to": "req.params.serviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "d6193d7e.cc7c3"
            ]
        ]
    },
    {
        "id": "2756d630.2c3c9a",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "secretId",
                "pt": "msg",
                "to": "req.params.secretId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "7c29fad3.f19b74"
            ]
        ]
    },
    {
        "id": "e07d7223.81e75",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "networkId",
                "pt": "msg",
                "to": "req.params.networkId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "7669691a.60e9d8"
            ]
        ]
    },
    {
        "id": "e1b8fa4d.44c2d8",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volumeId",
                "pt": "msg",
                "to": "req.params.volumeId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "a04744a1.69de48"
            ]
        ]
    },
    {
        "id": "1ec36eb4.4640d1",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pluginId",
                "pt": "msg",
                "to": "req.params.pluginId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "86ab470a.daefc8"
            ]
        ]
    },
    {
        "id": "b8c42a01.e397c8",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "imageId",
                "pt": "msg",
                "to": "req.params.imageId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "2027a3f4.44dcdc"
            ]
        ]
    },
    {
        "id": "ce6adad1.0d2fb8",
        "type": "change",
        "z": "eb60acc4.65ffd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "taskId",
                "pt": "msg",
                "to": "req.params.taskId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "6a2d6338.bcdfcc"
            ]
        ]
    },
    {
        "id": "9664a8c5.a19b48",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/plugins/:pluginId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "899857a2.2b2d68"
            ]
        ]
    },
    {
        "id": "899857a2.2b2d68",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pluginId",
                "pt": "msg",
                "to": "req.params.pluginId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "6fccc381.7f32dc"
            ]
        ]
    },
    {
        "id": "6fccc381.7f32dc",
        "type": "docker-plugin-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "",
        "action": "inspect",
        "x": 840,
        "y": 560,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "61d7d303.b2112c",
        "type": "docker-swarm-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "inspect",
        "x": 840,
        "y": 620,
        "wires": [
            [
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "cba4e685.ac42c8",
        "type": "docker-engine-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "info",
        "x": 840,
        "y": 680,
        "wires": [
            [
                "194c5206.89e86e"
            ]
        ]
    },
    {
        "id": "8f92584c.32df28",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/swarm",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "61d7d303.b2112c"
            ]
        ]
    },
    {
        "id": "f5492163.0a32",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/engine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 680,
        "wires": [
            [
                "cba4e685.ac42c8"
            ]
        ]
    },
    {
        "id": "ed1c4f77.382cd",
        "type": "docker-swarm-actions",
        "z": "eb60acc4.65ffd",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "update",
        "x": 880,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a3a9a728.56a088",
        "type": "http in",
        "z": "eb60acc4.65ffd",
        "name": "",
        "url": "/swarm/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "ed1c4f77.382cd"
            ]
        ]
    }
]