flows.json
[
    {
        "id": "4c3b05bf.206fbc",
        "type": "tab",
        "label": "Docker Info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3588b61.859a18",
        "type": "tab",
        "label": "Docker Inspect",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41f777e2.d72c88",
        "type": "tab",
        "label": "Docker Action",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3235da7.9d754",
        "type": "tab",
        "label": "Docker Inspect WS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcf00345.14dd2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "579edabe.09fe34",
        "type": "docker-configuration",
        "z": "",
        "host": "/var/run/docker.sock",
        "port": ""
    },
    {
        "id": "8d7688bb.31a5d8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/test",
        "wholemsg": "false"
    },
    {
        "id": "5bd79fa5.d89eb",
        "type": "websocket-listener",
        "z": "",
        "path": "ws/container",
        "wholemsg": "false"
    },
    {
        "id": "9eb44dc.d18d9b",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "/volumes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "18db8d65.4ee653"
            ]
        ]
    },
    {
        "id": "18db8d65.4ee653",
        "type": "docker-volumes",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "ce8dc619.48c248",
        "type": "docker-events",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "72c50769.2df588"
            ]
        ]
    },
    {
        "id": "72c50769.2df588",
        "type": "websocket out",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "server": "8d7688bb.31a5d8",
        "client": "",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "10d6edd3.91f0e2",
        "type": "docker-containers",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "24815ebc.3be8f2",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "/containers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "10d6edd3.91f0e2"
            ]
        ]
    },
    {
        "id": "98806ac6.5643b8",
        "type": "http response",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "e96bf741.78b718",
        "type": "docker-networks",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "d809f4f4.6fda98",
        "type": "docker-secrets",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "2aeb3893.ecf8a8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "networks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "e96bf741.78b718"
            ]
        ]
    },
    {
        "id": "5fcf3e18.be76c",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "secrets",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "d809f4f4.6fda98"
            ]
        ]
    },
    {
        "id": "f4e8e96e.ef8db8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "plugins",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "d0bc1da4.b5ba"
            ]
        ]
    },
    {
        "id": "d0bc1da4.b5ba",
        "type": "docker-plugins",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "bd1b4106.13099",
        "type": "docker-nodes",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "fbefb086.9f79c",
        "type": "docker-tasks",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "7dec14a7.2fbe3c",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "nodes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "bd1b4106.13099"
            ]
        ]
    },
    {
        "id": "439fa36e.2be7cc",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "tasks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "fbefb086.9f79c"
            ]
        ]
    },
    {
        "id": "da0e33c5.dfdcb",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "services",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "1b104564.7fae7b"
            ]
        ]
    },
    {
        "id": "9f178ba5.87cab8",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "images",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "1b7979f8.7e6546"
            ]
        ]
    },
    {
        "id": "e0781fe.b97dae",
        "type": "docker-container-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "inspect",
        "x": 710,
        "y": 40,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "7fb8e8e4.d42c98",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/containers/:containerId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "51ae3860.2ed588"
            ]
        ]
    },
    {
        "id": "194c5206.89e86e",
        "type": "http response",
        "z": "a3588b61.859a18",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0a300a.4654",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/images/:imageId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "b30a7cb0.085ab"
            ]
        ]
    },
    {
        "id": "f35cb91f.b8d6a8",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/services/:servicesId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "3d42a7ec.99fd38"
            ]
        ]
    },
    {
        "id": "be8c2d94.ca50c",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/tasks/:taskId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "54b33ee6.590af"
            ]
        ]
    },
    {
        "id": "e65123cd.a5e79",
        "type": "http response",
        "z": "a3588b61.859a18",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "cb366846.141d38",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/node",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "c75a07ba.e832b8"
            ]
        ]
    },
    {
        "id": "d5b43380.4bfbb",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/secrets/:secretId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4323fbe2.bb79d4"
            ]
        ]
    },
    {
        "id": "ae518bf4.5e4a68",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/networks/:networkId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "f112e6c4.021818"
            ]
        ]
    },
    {
        "id": "3874a669.ee2a6a",
        "type": "docker-image-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "image": "sha256:8c98e6ed72f87598d4566621f6f0293dbbf834822a41b75e110247936be31876",
        "action": "inspect",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "This is using the hash\nhttp://localhost:1880/red-nodes/image/?image=sha256:8c98e6ed72f87598d4566621f6f0293dbbf834822a41b75e110247936be31876"
    },
    {
        "id": "b124a312.c1cd6",
        "type": "docker-service-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "docker-Traefik_whoami",
        "action": "inspect",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/service/?service=docker-Nodered_nodered"
    },
    {
        "id": "1ce91cc1.b48253",
        "type": "docker-task-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "task": "",
        "action": "inspect",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/task/?task=s4muohfijyop4nkbcgzesvwza"
    },
    {
        "id": "24af840d.af4efc",
        "type": "docker-node-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "node": "docker-desktop",
        "action": "",
        "x": 690,
        "y": 840,
        "wires": [
            [
                "e65123cd.a5e79"
            ]
        ],
        "info": "Missing inspect"
    },
    {
        "id": "1237136d.0c6ecd",
        "type": "docker-secret-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "secret": "",
        "action": "inspect",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/secret/?secret=my_secret_data"
    },
    {
        "id": "aad1e95f.7c4378",
        "type": "docker-network-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "network": "",
        "action": "inspect",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ],
        "info": "http://localhost:1880/red-nodes/network/?network=func_functions"
    },
    {
        "id": "96531193.59ce3",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/volumes/:volumeId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "b83c04a6.2fc688"
            ]
        ]
    },
    {
        "id": "74982647.b35e78",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/plugin",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "f8b5889d.c7a208"
            ]
        ]
    },
    {
        "id": "fd9e6589.b2a9c8",
        "type": "docker-volume-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "volume": "nodered_nodered_data1",
        "action": "inspect",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "7fddaf24.79191",
        "type": "docker-plugin-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "plugin": "docker.io/vieux/sshfs:latest",
        "action": "inspect",
        "x": 690,
        "y": 920,
        "wires": [
            [
                "e65123cd.a5e79"
            ]
        ]
    },
    {
        "id": "6d14ccf1.6b3814",
        "type": "comment",
        "z": "a3588b61.859a18",
        "name": "No inspect",
        "info": "No inspect",
        "x": 80,
        "y": 800,
        "wires": []
    },
    {
        "id": "6b65685c.398178",
        "type": "comment",
        "z": "a3588b61.859a18",
        "name": "Can't find 404",
        "info": "Can't find 404 inspect",
        "x": 90,
        "y": 880,
        "wires": []
    },
    {
        "id": "a1739c6b.afdff",
        "type": "inject",
        "z": "a3235da7.9d754",
        "d": true,
        "name": "",
        "topic": "",
        "payload": "{\"action\":\"inspect\",\"containerId\":\"nodered_nodered_1\"}",
        "payloadType": "json",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "b0b1e01e.61a7f"
            ]
        ]
    },
    {
        "id": "267cd34f.c55e1c",
        "type": "websocket out",
        "z": "a3235da7.9d754",
        "name": "",
        "server": "5bd79fa5.d89eb",
        "client": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "b0b1e01e.61a7f",
        "type": "docker-container-actions",
        "z": "a3235da7.9d754",
        "name": "",
        "config": "579edabe.09fe34",
        "container": "",
        "action": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "267cd34f.c55e1c",
                "35b86698.35604a"
            ]
        ]
    },
    {
        "id": "33df6cb9.4ad004",
        "type": "docker-configs",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "ed122ed.5256cd",
        "type": "http in",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "url": "configs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "33df6cb9.4ad004"
            ]
        ]
    },
    {
        "id": "1b104564.7fae7b",
        "type": "docker-services",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "9e2460f7.f3f74",
        "type": "uibuilder",
        "z": "bcf00345.14dd2",
        "name": "",
        "topic": "",
        "url": "uibuilder",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "x": 420,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1b7979f8.7e6546",
        "type": "docker-images",
        "z": "4c3b05bf.206fbc",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "98806ac6.5643b8"
            ]
        ]
    },
    {
        "id": "63d15cbb.d18e44",
        "type": "docker-swarm-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "inspect",
        "x": 700,
        "y": 580,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "e9596fff.f7266",
        "type": "docker-engine-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "info",
        "x": 700,
        "y": 640,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "6da2a17f.43de2",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/swarms/swarm",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "57b9cf72.c0282"
            ]
        ]
    },
    {
        "id": "d4e31c93.35092",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/engine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "57e7cd51.3f0c24"
            ]
        ]
    },
    {
        "id": "84a497c7.562dd8",
        "type": "docker-swarm-actions",
        "z": "41f777e2.d72c88",
        "name": "",
        "config": "579edabe.09fe34",
        "service": "",
        "action": "init",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "617580b.e2e858"
            ]
        ]
    },
    {
        "id": "c995ddcf.2bb67",
        "type": "inject",
        "z": "41f777e2.d72c88",
        "name": "",
        "topic": "",
        "payload": "{\"swarm\":{\"ListenAddr\":\"0.0.0.0:2377\",\"AdvertiseAddr\":\"192.168.1.1:2377\",\"ForceNewCluster\":false,\"Spec\":{\"Orchestration\":{},\"Raft\":{},\"Dispatcher\":{},\"CAConfig\":{}}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "1c6800a1.b396cf"
            ]
        ]
    },
    {
        "id": "617580b.e2e858",
        "type": "debug",
        "z": "41f777e2.d72c88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "a15d24ac.038e38",
        "type": "debug",
        "z": "41f777e2.d72c88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "1c6800a1.b396cf",
        "type": "change",
        "z": "41f777e2.d72c88",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.swarm",
                "pt": "msg",
                "to": "swarm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "84a497c7.562dd8",
                "a15d24ac.038e38"
            ]
        ]
    },
    {
        "id": "e85a1090.e9397",
        "type": "docker-config-actions",
        "z": "a3588b61.859a18",
        "name": "",
        "config": "579edabe.09fe34",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "194c5206.89e86e",
                "82c20ce3.75d56"
            ]
        ]
    },
    {
        "id": "4155614a.d1332",
        "type": "http in",
        "z": "a3588b61.859a18",
        "name": "",
        "url": "/configs/:configId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "e5b18c96.f9325"
            ]
        ]
    },
    {
        "id": "35b86698.35604a",
        "type": "debug",
        "z": "a3235da7.9d754",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "51ae3860.2ed588",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "containerId",
                "pt": "msg",
                "to": "req.params.containerId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "e0781fe.b97dae"
            ]
        ]
    },
    {
        "id": "82c20ce3.75d56",
        "type": "debug",
        "z": "a3588b61.859a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "e5b18c96.f9325",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "e85a1090.e9397"
            ]
        ]
    },
    {
        "id": "3d42a7ec.99fd38",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serviceId",
                "pt": "msg",
                "to": "req.params.serviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "b124a312.c1cd6"
            ]
        ]
    },
    {
        "id": "4323fbe2.bb79d4",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "secretId",
                "pt": "msg",
                "to": "req.params.secretId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "1237136d.0c6ecd"
            ]
        ]
    },
    {
        "id": "f112e6c4.021818",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "networkId",
                "pt": "msg",
                "to": "req.params.networkId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "aad1e95f.7c4378"
            ]
        ]
    },
    {
        "id": "b83c04a6.2fc688",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volumeId",
                "pt": "msg",
                "to": "req.params.volumeId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "fd9e6589.b2a9c8"
            ]
        ]
    },
    {
        "id": "57b9cf72.c0282",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "swarmId",
                "pt": "msg",
                "to": "req.params.swarmId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "63d15cbb.d18e44"
            ]
        ]
    },
    {
        "id": "57e7cd51.3f0c24",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "e9596fff.f7266"
            ]
        ]
    },
    {
        "id": "b30a7cb0.085ab",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "imageId",
                "pt": "msg",
                "to": "req.params.imageId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "3874a669.ee2a6a"
            ]
        ]
    },
    {
        "id": "54b33ee6.590af",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "taskId",
                "pt": "msg",
                "to": "req.params.taskId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "1ce91cc1.b48253"
            ]
        ]
    },
    {
        "id": "c75a07ba.e832b8",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "24af840d.af4efc"
            ]
        ]
    },
    {
        "id": "f8b5889d.c7a208",
        "type": "change",
        "z": "a3588b61.859a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "configId",
                "pt": "msg",
                "to": "req.params.configId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 920,
        "wires": [
            [
                "7fddaf24.79191"
            ]
        ]
    }
]